/* *{
    border: 1px solid red;
} */

body{
    background-color: #F6F3EE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: auto;
    margin-top: 3em;
    /* background-color: black; */
}

.calc{
    display: flex;
    /* justify-content: center; */
    border: 2px solid grey;
    background-color: rgb(226, 226, 226);
    min-width: 30vw;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.screen{
    width: 80%;
    height: 30%;
    margin-top: 10%;
    margin-bottom: 5%;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex: 1 1 auto; */
}

.sc{
    display: flex;
    flex: 1;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
}
.upper{
    padding: 0.5em;
}
.down{
    align-items: end;
    justify-content: end;
    padding: 0.5em;
}

.buttons{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    width: 80%;
    height: 50%;
    /* flex: 1 1 2em; */
    /* border: 1px solid grey; */
}

.backspace{
    font-size: 30px;
    
}

#footer{
    /* left: 0; */
    bottom: 0;
    position: fixed;
    align-items: center;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;

}

.btn{
    display: flex;
    flex: 1 1 20%;
    background-color: aliceblue;
    border: 1px solid grey;
    /* margin: 1px; */
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 10px;
}

.equal{
    background-color: orange;
}

/* .num{
    background-color: aliceblue;
} */

.operator{
    background-color: rgb(255, 166, 0);
}

.btn.operator:hover, .btn.equal:hover{
    background-color: rgb(216, 141, 2);
}

.btn.operator:active, .btn.equal:active{
    background-color: rgb(216, 141, 2);
    transform: scale(0.9); 
}

.btn:hover{
    background-color: rgb(200, 210, 219);
}

.btn:active{
    background-color: rgb(200, 210, 219);
    transform: scale(0.9); 

}